<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="dblog" xsi:type="Database" connectionString="Data Source=.;Initial Catalog=VehiclesDB;Integrated Security=True" commandText="INSERT INTO dbo.Logs VALUES (@datetime, @level, @message);">
      <parameter name="@datetime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@level" layout="${level:uppercase=true}"/>
      <parameter name="@message" layout="${message}"/>
    </target>
    <target name="logfile" xsi:type="File" fileName="./log.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="console" xsi:type="ColoredConsole" layout="${level:uppercase=true}:    ${message}" />
  </targets>

  <rules>
    <logger name="dbLogger" minlevel="Info" writeTo="dblog" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
